<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Catalogo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-light navbar-light">

    <a class="navbar-brand" href="/">
      <img src="http://www.e-cruce.com/wp-content/uploads/2019/10/cruce.svg" alt="logo">
    </a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Catalogo</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid mt-4">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(product => { %>
            <tr>
              <td><a href="/detail/<%= product.id %>"><%= product.name %> </a></td>
              <td>$ <%= product.price %> </td>
              <td class="text-right">
                <div class="icon-box">
                  <a href="/detail/<%= product.id %>" class="btn"><i class="fa fa-eye"></i></a>
                  <a href="/edit/<%= product.id %> " class="btn"><i class="fa fa-pencil"></i></a>
                  <form action="/delete/<%= product.id %>?_method=delete" method="POST">
                    <button type="submit" class="btn"><i class="fa fa-trash"></i></a>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <a class="btn btn-primary" id="add-button" href="/create">Agregar Producto</a>
    </div>
  </div>

</body>

</html>